
/* Small Device */
@media screen and (max-width: 320px){
    .container{
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-social ul li {
        .social-icon {
            font-size: 24px;
            line-height: 660px;
            padding-top: 10px;
        }
    
        .social-link {
            width: 45px;
            height: 45px;
        }
    }

    .project-content a .project-card .project-title h3{
        font-size: 16px;
    }

    .skills-content .skills-body {
        .skills-box {
            column-gap: 6rem;

            .skills-group {
                flex-basis: 7em;

                .skills-data {
                    .skills-icon {
                        font-size: 14px;
                    }

                    .skills-name {
                        font-size: 12px;
                        line-height: 1.2;
                    }

                    .skills-level {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .hero-social ul li {
        .social-icon {
            font-size: 24px;
            line-height: 660px;
            padding-top: 10px;
        }

        .social-link {
            width: 45px;
            height: 45px;
        }
    }

    .project-content a .project-card .project-title h3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 575px) {
    .skills-content .skills-body {
        grid-template-columns: repeat(1, 332px);
        justify-content: center;
        .skills-box {
            column-gap: 4rem;

            .skills-group .skills-data {
                .skills-icon {
                    font-size: 16px;
                }

                .skills-name {
                    font-size: 14px;
                    line-height: 1.2;
                }

                .skills-level {
                    font-size: 12px;
                }
            }
        }
    }
}

/* Medium Device */
@media screen and (min-width: 576px){
    .project-content {
        grid-template-columns: 2fr 2fr;
        justify-content: center;

        a .project-card .project-title h3 {
            font-size: 18px;
        }
    }

    .skills-content .skills-body {
        grid-template-columns: repeat(2, 332px);
        justify-content: center;

        .skills-box {
            column-gap: 3rem;

            .skills-group {
                flex-basis: 10em;

                .skills-data {
                    .skills-icon {
                        font-size: 14px;
                    }
            
                    .skills-name {
                        font-size: 12px;
                        line-height: 1.2;
                    }
            
                    .skills-level {
                        font-size: 10px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 776px) {
    .project-content {
        grid-template-columns: repeat(2, 332px);
        justify-content: center;

        a .project-card .project-title h3 {
            font-size: 18px;
        }
    }

    .skills-content .skills-body {
        grid-template-columns: repeat(2, 332px);
        justify-content: center;

        .skills-box {
            column-gap: 2rem;

            .skills-group {
                flex-basis: 10em;

                .skills-data {
                    .skills-icon {
                        font-size: 16px;
                    }

                    .skills-name {
                        font-size: 14px;
                        line-height: 1.2;
                    }

                    .skills-level {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

/* Large Device */
@media screen and (min-width: 992px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    .skills-content .skills-body {
        grid-template-columns: repeat(2, 340px);
        justify-content: center;

        .skills-box {
            column-gap: 2.8rem;

            .skills-group {
                flex-basis: 10em;

                .skills-data {
                    .skills-icon {
                        font-size: 16px;
                    }

                    .skills-name {
                        font-size: 14px;
                        line-height: 1.2;
                    }

                    .skills-level {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}